<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Lista de Produtos</title>
</head>

<body>
    <h1>Aqui listaremos os produtos</h1>
    <p>É isso aí porra</p>
</body>

</html>